@media(max-width: 1400px) {
    .container{
        max-width: 1140px;
    }
    
    .new{
        flex-wrap: wrap;
    }
    
    .new-content{
        width: 100%;
        padding: 60px 0;
    }
    
    .new-img{
        width: 100%;
        padding: 100px 0;
    }
}

/* *********************** */
@media(max-width: 1200px) {
    .container{
        max-width: 991px;
    }
}

/* *********************** */
@media(max-width: 1020px) {
    .container{
        max-width: 767px;
    }
    
    .brand-wrapper{
        flex-wrap: wrap;
    }
    
    header nav ul li a{
        font-size: 13px;
        padding: 20px 13px;
    }
    
    header .logo img{
        max-width: 70px;
    }
    
    .main-text img{
        max-width: 260px;
        margin-bottom: 50px;
    }
    
    .gen-title .title{
        font-size: 27px;
    }
    
    .gen-title .line{
        width: 90px;
        margin: 30px 0;
    }
    
    .collect{
        min-height: 460px;
    }
    
    .product{
        padding: 70px 0;
    }
    
    .product-wrapper{
        justify-content: space-evenly;
    }
    
    .brand-wrapper{
        justify-content: space-evenly;
    }
    
    .brand{
        padding: 70px 0;
    }
    
    footer .item{
        padding: 0 15px;
    }
}

/* *********************** */
@media(max-width: 800px) {
    .container{
        max-width: 576px;
    }
    
    .new-wrapper{
        flex-wrap: wrap;
    }
    
    .new .card{
        margin: 15px;
    }
    
    .collect{
        flex-wrap: wrap;
    }
    
    .collect-img{
        width: 100%;
        height: 400px;
    }
    
    .collect-content{
        width: 100%;
        padding-top: 70px;
    }
    
    footer .container{
        flex-wrap: wrap;
    }
    
    footer{
        padding: 70px 0;
    }
    
    footer .item{
        margin: 15px 0;
        max-width: 100%;
    }
    
    footer .footer-title{
        margin-bottom: 20px;
    }
}

/* ****** */
@media(max-width:576px) {
    header nav .menu{
        display: none;
    }
    
    .header-top{
        display: none;
    }
    
    header nav{
        padding: 15px 0;
    }
    
    header nav .logo img{
        height: 100%;
        max-width: 95px;
    }
    
    .main-text{
        padding: 80px 0;
    }
    
    .main-text img{
        max-width: 240px;
        padding: 50px 40px;
    }
    
    .main-text p{
        font-size: 13px;
        line-height: 20px;
        padding: 0 15px;
    }
    
    .gen-title .title{
        text-align: center;
    }
    
    .gen-title .text{
        padding: 0 15px;
        margin-bottom: 40px;
    }
    
    .gen-title .link{
        font-size: 13px;
    }
    
    .collect-img{
        order: 2;
        height: 220px;
    }
    
    .collect-content{
        padding: 70px 0;
    }
    
    footer form{
        flex-wrap: wrap;
    }
    footer form button{
        width: 100%;
        padding: 13px;
    }
}